---
---

@import "{{ site.theme }}";

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6{
  color:#416565;
}

.page-header{
  background-color:#654165;
  background-image:linear-gradient(60deg, #654165, #494165);
}

a{
  margin:1rem 1rem 0 0;
  font-variant:small-caps;
  display:inline-block;
  color:#656541;
}
p{
  font-size:0.9em;
}

.event{
  display: flex;
  flex-wrap: wrap;
  background-color: #f5f9fd;
  padding: 2rem;
}

.date{
  width: 100%;
  font-style: italic;
  font-size: 0.95rem;
  margin-bottom: 1.5rem;
  margin-top: -0.25rem;
  display: block;
}

