---
---

@import "{{ site.theme }}";

@media only screen and (max-width: 1024px) {
  .event .event-image {
    display: none;
  }
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6,
.page-header .project-tagline,
.teaser{
  color:#753d56;
}

.page-header{
  position:relative;
  margin:auto;
  max-width:75%;
  background:transparent;
  padding:3rem 4rem 4rem;
  //border-bottom:15px groove rgba(98, 145, 204, 0.66);
  margin-bottom:2rem;
  //border-radius:0px 100px 800px 150px;
  //background:url(../images/cool-background.png) no-repeat center;
}
.page-header::after{
  background:rgba(90, 118, 155, 0.3);
  content:"-";
  position:absolute;
  left:-2000px;
  right:0;
  bottom:-25px;
  color:transparent;
  width:4000px;
  height:1000px;
  transform:rotate(-5deg);
}

.page-header .project-name{
  color:#47668e;
}
.page-header .project-tagline{
  opacity:0.8;
}

a.inline{
  color:#8e6f47;
}
a.inline:hover{
  text-decoration:none;
  opacity:0.8; 
}

a:not(.inline){
  font-size:0.7rem;
  display: inline-block;
  border: 1px solid #72753D;
  border-radius:50px;
  padding: 0.15rem 0.5rem;
  letter-spacing: 0.03rem;
  line-height: 1rem;
  margin:1rem 1rem 0 0;
  text-transform:uppercase;
  color:#72753d;
}
a:not(.inline):hover{
  text-decoration:none;
  background:rgba(114, 117, 61, 0.1);
}
p{
  font-size:0.875rem;
  letter-spacing:0.03rem;
  color:#43484e;
}
ul{
  padding:0 !important;
  margin-bottom:3rem;
}
li{
  margin:0 !important;
}

.teaser{
  letter-spacing:0.05rem;
  font-style:italic;
  font-size:1.3rem;
}

.block{
  background:#47668e;
  color:#fff !important;
  font-weight:bold !important;
  margin-bottom:0 !important;
  padding:0.5rem 1rem;
  width:100%;
}

.event{
  border:1px solid #ddd;
  border-top:none !important;
  display:flex;
  justify-content:space-between;
  flex-wrap: wrap;
  background-color: rgb(250, 250, 250);
}
.event-content{
  max-width:500px;
  padding:0.75rem 1.5rem 1rem 1.5rem;
}
.event-content h3{
  font-variant:small-caps;
  font-weight:bold;
}
.event-image{
  text-align:right;
  padding:0 1rem;
  height:auto;
  margin:auto;
  max-width:300px;
  max-height:85%;
}
.event-image img{
  text-align:right;
  box-shadow:0 0 5px 1px #ddd;
  max-height:150px;
  object-fit:cover;
  border-radius: 3px;
}

.date{
  color:#AAA;
  width: 100%;
  font-style: italic;
  font-size: 0.75rem;
  margin-bottom: 1.5rem;
  margin-top: -1rem;
  display: block;
}

