---
---

@import "{{ site.theme }}";

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6{
  color:#008080;
}

.page-header{
  background-color:#654165;
  background-image:linear-gradient(60deg, #654165, #494165);
}

a{
  font-size:1.1rem;
  margin:1rem 1rem 0 0;
  font-variant:all-small-caps;
  display:inline-block;
  color:#656540;
}
p{
  font-size:0.92rem;
}
ul{
  padding:0 !important;
}
li{
  margin-bottom:3rem;
}

.teaser{
  font-size:1.1rem;
  font-weight:bold;
  color:#008080;
}
.teaser,
.subteaser{
  letter-spacing:0.025rem;
}

.underline{
  margin-bottom:3rem;
  border-bottom:1px solid #ddd;
}

.event{
  box-shadow:-0.1rem 0.1rem 0.3rem rgba(0,0,0,0.1) !important;
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  background-color: #f5f9fd87;
}
.event-content{
  max-width:500px;
  padding:1.5rem;
}
.event-content h2{
  font-variant:small-caps;
}
.event-image{
  display: flex;
  align-items: center;
  background: #b1b1b100;
  padding:0 1rem;
  height:auto;
  max-width:300px;
}
.event-image img{
  box-shadow:0 0 5px 1px #ddd;
  max-height:100%;
  object-fit:fill;
}
.event,
.event-image img{
  border-radius: 3px;
}

.date{
  width: 100%;
  font-style: italic;
  font-size: 0.75rem;
  margin-bottom: 1.5rem;
  margin-top: -1rem;
  display: block;
}

